<!--booking for staff-->
{% extends 'layout/base.html' %}

{% block content %}
<div class="booking-content">
    <span class="content-header">
       Lên lịch đặt ngay một chiếc vé ưng ý nào
    </span>


    <!-- The Modal -->
    <div class="flex type">

        <div>
            <label for="rank">Hạng vé</label>
            <select name="rank" id="rank">
                <option value="1">Hạng 1</option>
                <option value="2">Hạng 2</option>
            </select>
        </div>
    </div>

    <!-- Tab panes -->

            <div class="form-group">
                <div class="place">
                    <form action="/">
                        <label for="fromairport">
                         <span>Từ</span>
                        </label>
                        <input type="text" class="form-control" list="airports" name="from" id="fromairport"
                           placeholder="Chọn nơi đi...">

                        <datalist id="airports">
                            {% for a in airports %}
                                <option value="{{ a.name }}">
                            {% endfor %}
                        </datalist>
                    </form>
                </div>
                <div class="place">
                    <span>Đến</span>
                    <input type="text" class="form-control"  required name="to" placeholder="Chọn nơi đến...">
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-6">
                        <span>Ngày khởi hành</span>
                        <input type="date" name="from_date" class="form-control" style="width: 100%">
                    </div>
                    <div class="col-md-6">
                        <span>Ngày về</span>
                        <input type="date" name="to_date" class="form-control" style="width: 100%">
                    </div>
                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-4">
                        <span>Người lớn</span>
                        <input type="number" class="form-control"
                                       value="1" min="0" max="10" step="1" style="width: 100%"/>
                    </div>
                    <div class="col-md-4">
                        <span>Trẻ em</span>
                        <span class="sub-header">(2-12 tuổi)</span>
                        <input type="number" class="form-control"
                                       value="0" min="0" max="10" step="1" style="width: 100%"/>
                    </div>
                    <div class="col-md-4">
                        <span>Em bé</span>
                        <span class="sub-header">(< 2 tuổi)</span>
                        <input type="number" class="form-control"
                                       value="0" min="0" max="10" step="1" style="width: 100%"/>
                    </div>
                </div>
            </div>
            <div class="bt">
                <div class="bt">
                    <input type="submit" value="Tìm chuyến bay"/>
                </div>
            </div>

</div>
{% endblock %}